*.csv filter=lfs diff=lfs merge=lfs -text
CrimesAnalysis_GCP/FINAL-ARCHI2/*.csv filter=lfs diff=lfs merge=lfs -text
CrimesAnalysis_GCP/FINAL-ARCHI2/Crimes_-_2001_to_Present.csv filter=lfs diff=lfs merge=lfs -text
